footer {
    background-color: rgb(58, 58, 58);
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;

    .footer-title {
        width: 100%;
        text-align: center;
        line-height: 4;
        font-size: 1rem;
        cursor: pointer;
    }
}
